.Ball {
  background-color: tomato;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  font-size: 1.5em;
  padding-top: 0.75em;
  margin: 0.5em 0.75em 1em 0;
}